@page
@model PortfolioMaster.Areas.Identity.Pages.Account.PasswordChangedModel
@{
    ViewData["Title"] = "Password Changed";
}

<h2>@ViewData["Title"]</h2>
<p>Your password has been changed successfully. <a href="~/Identity/Account/Login">Click here</a> to log in with your new password.</p>
