@page
@model PortfolioMaster.Areas.Identity.Pages.Account.PasswordResetEmailSentModel
@{
    ViewData["Title"] = "Password Reset Email Sent";
}

<h2>@ViewData["Title"]</h2>
<p>An email with password reset instructions has been sent. Please check your inbox.</p>
