@page
@model PortfolioMaster.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<h1>Thanks for registering!</h1>
<p>Please check your email and confirm your account before you can log in.</p>
