@using PortfolioMaster.Models.ViewModels;
@model CreateAssetHoldingViewModel

@{
    ViewData["Title"] = "Create Asset Holding";
}

<h1>Create Asset Holding</h1>

<form asp-controller="AssetHolding" asp-action="Create" method="post">
    <input type="hidden" asp-for="AssetId" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="AssetName" class="control-label"></label>
        <input asp-for="AssetName" class="form-control" readonly="readonly" style="max-width: 300px;" />
    </div>
    <div class="form-group">
        <label asp-for="PortfolioId" class="control-label">Portfolio</label>
        <select asp-for="PortfolioId" asp-items="ViewBag.PortfolioList" class="form-control" style="max-width: 300px;"></select>
    </div>
    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" style="max-width: 300px;" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PurchaseDate" class="control-label"></label>
        <input asp-for="PurchaseDate" class="form-control" style="max-width: 300px;" />
    </div>
    <div class="form-group">
        <label asp-for="PurchasePrice" class="control-label"></label>
        <input asp-for="PurchasePrice" class="form-control" style="max-width: 300px;" />
        <span asp-validation-for="PurchasePrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-controller="AssetHolding" asp-action="Index">Back to List</a>
</div>



