@model PortfolioMaster.Models.Dtos.UpdateAssetHoldingDto

@{
    ViewData["Title"] = "Edit Asset Holding";
}

<h1>Edit Asset Holding</h1>

<form asp-controller="AssetHolding" asp-action="Edit" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="PurchaseDate" class="control-label"></label>
        <input asp-for="PurchaseDate" class="form-control" style="max-width: 300px;" />
        <span asp-validation-for="PurchaseDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" style="max-width: 300px;" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PurchasePrice" class="control-label"></label>
        <input asp-for="PurchasePrice" class="form-control" style="max-width: 300px;" />
        <span asp-validation-for="PurchasePrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-controller="AssetHolding" asp-action="Index">Back to List</a>
</div>
