@using PortfolioMaster.Models.ViewModels;
@model AssetHoldingsViewModel

@{
    ViewData["Title"] = "Asset Holdings";
}

<h1>Asset Holdings</h1>

<style>
    .tab-content {
        border: 1px solid #dee2e6;
        border-top: none;
        padding: 20px;
    }
    
    .nav-tabs {
        border-bottom: 1px solid #dee2e6;
    }
    
    .nav-tabs .nav-link {
        color: #007bff;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    
    .nav-tabs .nav-link:not(.active) {
        color: #6c757d;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-bottom: none;
    }
</style>


<ul class="nav nav-tabs" id="assetHoldingTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="assetHoldings-tab" data-bs-toggle="tab" href="#assetHoldings" role="tab" aria-controls="assetHoldings" aria-selected="false">All Holdings</a>
    </li>
</ul>
<div class="tab-content mt-3" id="assetHoldingTabsContent">
    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
        <partial name="_Overview" model="Model" />
    </div>
    <div class="tab-pane fade" id="assetHoldings" role="tabpanel" aria-labelledby="assetHoldings-tab">
        <partial name="_AssetHoldings" model="Model" />
    </div>
</div>

</br>
<form asp-controller="AssetHolding" asp-action="Create" method="get" class="d-flex align-items-center">
    <div class="me-2">
        <label for="assetId" class="form-label"><b>Add new holding for Asset: </b></label>
    </div>
    <!-- Add hidden input fields for returnController and returnAction -->
    <input type="hidden" name="returnController" value="AssetHolding" />
    <input type="hidden" name="returnAction" value="Index" />
    <!-- End of hidden input fields -->
    <div class="me-2">
        <select name="assetId" id="assetId" class="form-select" style="max-width: 300px;">
            <option value="">-- Select Asset --</option>
            @foreach (var asset in Model.Assets)
            {
                <option value="@asset.Value">@asset.Text</option>
            }
        </select>
    </div>
    <button type="submit" id="addButton" class="btn btn-success" disabled><i class="fas fa-plus"></i> Add</button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#assetHoldingsTable').DataTable({
                "order": [[0, "asc"]],
                "pageLength": 10,
            });

            $('#allAssetHoldingsTable').DataTable({
                "order": [[0, "asc"]],
                "pageLength": 10,
                "searching": true,
                "lengthChange": true,
            });

            $('#assetId').on('change', function () {
                if ($(this).val()) {
                    $('#addButton').removeAttr('disabled');
                } else {
                    $('#addButton').attr('disabled', 'disabled');
                }
            });
        });
    </script>
}

