@using PortfolioMaster.Models.ViewModels;
@model PreciousMetalsViewModel
@{
    ViewData["Title"] = "Precious Metals";
    var editButtonStyle = "btn btn-sm btn-primary";
    var deleteButtonStyle = "btn btn-sm btn-danger";
    decimal goldPrice = ViewBag.GoldPrice;
    decimal silverPrice = ViewBag.SilverPrice;

}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Metal</th>
                <th>Total Quantity (Oz)</th>
                <th>Total Purchase Price (USD)</th>
                <th>Current Price (USD)</th>
                <th>Total Value (USD)</th>
                <th>P/L (USD)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var holdingList in Model.PreciousMetalsHoldings)
            {
                @foreach (var goldHolding in holdingList)
                {
                    @await Html.PartialAsync("_PreciousMetalTable", goldHolding)
                }
            }
        </tbody>
    </table>

    <!-- Add the footnote with gold and silver prices -->
    <div>
        <p>
            <strong>Gold Price:</strong> @ViewBag.GoldPrice USD per ounce
        </p>
        <p>
            <strong>Silver Price:</strong> @ViewBag.SilverPrice USD per ounce
        </p>
    </div>
</div>

